[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/mesotheliomalegalhelpcenter
ExecStart=/var/lib/jenkins/workspace/mesotheliomalegalhelpcenter/env/bin/gunicorn --access-logfile --workers 3 --log-level debug --error-logfile /var/lib/jenkins/workspace/mesotheliomalegalhelpcenter/error.log --bind unix:/run/gunicorn.sock mesotheliomalegalhelpcenter.wsgi:application

[Install]
WantedBy=multi-user.target

