{% load static %}

<div id="w-node-b35ec523-15b5-bc73-7ec3-60eeb1d0ff54-395c584c" class="second-column">
{#<div id="w-node-ecce4376-a9b1-a5e3-7167-8e5e0bfbf06e-34d17fe5" class="second-column">#}
    <div class="calculator_card"><img src="{% static 'images/case-calculator-icon.svg' %}" loading="eager" height="64" width="64" alt="mesothelioma case value calculator" class="image-2">
      <h2 class="h2-calculator white">Mesothelioma Case Value Calculator</h2>
      <div class="calculator-bold-text"><strong class="bold-text">Find Out How Much Compensation We Can Get Your For Your Case</strong></div>
      <div class="calculator-skiny-text">Our calculator compares your situation to 30 years of similar cases and Asbestos exposures. (It Only Takes A Few Seconds To Find Out How Much Money Is Available For Your Case)<br></div>
      <div class="calculator-bold-text"><strong class="bold-text-2">Who Was Diagnosed With Mesothelioma?<br></strong></div>
      <div class="w-layout-grid grid-8">
        <a id="w-node-_54c8f0b7-ec00-2170-8627-fb6424c86cf1-24c86ce2" href="#" class="button-i-was w-button">I was Diagnosed</a>
        <a id="w-node-_54c8f0b7-ec00-2170-8627-fb6424c86cf3-24c86ce2" href="#" class="button-family w-button">Family Member</a>
    </div>
    </div>
</div>