.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Aktivgrotesk, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: capitalize;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Aktivgrotesk, sans-serif;
  color: #11845b;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 500;
  text-transform: none;
}

p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Aktivgrotesk, sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 300;
}

a {
  text-decoration: underline;
}

ul {
  margin: 20px 6px 10px;
  padding: 10px 40px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

img {
  display: inline-block;
  max-width: 100%;
  padding: 10px;
  border-radius: 8px;
  /*height: 50% !important;*/
  height: auto;
  width: auto;
}
iframe {
  border-style: hidden;
}

strong {
  color: #000;
  font-weight: 500;
}

em {
  font-style: italic;
}

blockquote {
  margin-bottom: 0px;
  padding: 20px;
  border-left: 1px none #11845b;
  border-radius: 0px 6px 6px 0px;
  background-color: rgba(255, 221, 117, 0.08);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  font-family: Aktivgrotesk, sans-serif;
  color: #252323;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

figcaption {
  margin-top: 9px;
  margin-bottom: 20px;
  text-align: center;
}

.body {
  display: block;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  font-family: Aktivgrotesk, sans-serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.navbar {
  background-color: transparent;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.27);
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand.w--current {
  font-family: 'PT Serif', serif;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Aktivgrotesk, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.4em;
  line-height: 1.25em;
  font-weight: 500;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link {
  font-family: Aktivgrotesk, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.nav-link.w--current {
  font-family: 'PT Sans', sans-serif;
  color: #3d3838;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.article {
  display: block;
  max-width: 1170px;
  min-width: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px;
  font-family: Aktivgrotesk, sans-serif;
}

.container {
  padding: 80px 10px;
  font-size: 1.25rem;
}

.section {
  padding-top: 0px;
  padding-bottom: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, #fff));
  background-image: linear-gradient(180deg, transparent, #fff 15%);
}

.rich-text-db {
  padding: 0px;
  font-family: Aktivgrotesk, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  line-height: 1.7rem;
  font-weight: 300;
}

.rich-text-db li {
  margin-bottom: 10px;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.rich-text-db blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rich-text-db a {
  color: rgba(65, 57, 122, 0.8);
  text-decoration: underline;
}

.rich-text-db img {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.body-4 {
  line-height: 2rem;
}

.grid-article-right-sidebar {
  margin-top: 60px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.main-article {
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  background-color: transparent;
}

.second-column {
  padding: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.calculator_card {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin: 10px;
  padding: 22px;
  border-radius: 6px;
  background-color: #11845b;
  box-shadow: 4px 4px 14px 6px rgba(0, 0, 0, 0.2);
  font-family: Aktivgrotesk, sans-serif;
  color: #fff;
  text-align: left;
}

.h2-calculator {
  font-weight: 500;
}

.h2-calculator.white {
  margin-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: dotted;
  outline-width: 3px;
  color: #fff;
  text-align: left;
}

.calculator-bold-text {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: left;
}

.calculator-skiny-text {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: left;
}

.h1 {
  margin-top: 0px;
  padding-left: 10px;
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 500;
}

.snippet {
  margin-bottom: 40px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: rgba(17, 132, 91, 0.11);
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.snippet.white-smoke {
  background-color: #f3f1ec;
}

.container-5 {
  max-width: 1170px;
}

.update-on {
  margin-bottom: 20px;
  padding-left: 10px;
  color: #11845b;
}

.bold-text {
  color: #fff;
  line-height: 1.2em;
  text-align: left;
}

.image-2 {
  border: 1px none #000;
  text-align: left;
}

.grid-8 {
  margin-top: 20px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-family {
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 6px;
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.button-family:hover {
  background-color: #070707;
}

.button-i-was {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #000;
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.button-i-was:hover {
  background-color: transparent;
  color: #000;
}

.div-block-4 {
  overflow: visible;
  margin-top: -165px;
  margin-right: -85px;
  margin-left: 0px;
  text-align: right;
}

.image-3 {
  margin-top: 0px;
  -webkit-transform: rotateX(-40deg) rotateY(0deg) rotateZ(-157deg);
  transform: rotateX(-40deg) rotateY(0deg) rotateZ(-157deg);
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bold-text-2 {
  color: #fff;
}

.div-breadcromb-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Aktivgrotesk, sans-serif;
  font-size: 0.9em;
  line-height: 1rem;
  font-weight: 500;
}

.breadcrumb-text {
  text-transform: uppercase;
}

.breadcrumb-text.last {
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  color: #11845b;
}

.breadcrumb-link {
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
  text-transform: uppercase;
}

.breadcrumb-link.first {
  padding-left: 0px;
  border-right: 1px solid #000;
  border-left-style: none;
}

.div-line {
  width: auto;
  height: 1px;
  min-width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.video-4 {
  display: none;
  margin-bottom: 20px;
  padding: 0px;
}

.curent-page-link {
  text-decoration: none;
}

.curent-page-link.w--current {
  text-decoration: none;
}

.collection-list-6 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link-to-answer {
  display: block;
  padding-bottom: 20px;
  padding-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: transparent;
  font-family: Aktivgrotesk, sans-serif;
  font-size: 1.4em;
  line-height: 2em;
  text-decoration: none;
}

.question {
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Aktivgrotesk, sans-serif;
  color: #2c2c2c;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-indent: 0px;
  text-transform: uppercase;
}

.collection-list-7 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link-block {
  display: block;
  padding: 20px;
  background-color: transparent;
  text-decoration: none;
}

.collection-item-2 {
  background-color: #fffdf7;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.h2-card {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.related-txt-title {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  line-height: 2em;
  font-weight: 500;
  text-transform: capitalize;
}

.collection-list-wrapper {
  margin-top: 20px;
}

.text-card {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.question-image {
  padding: 0px;
  border-radius: 0px;
}

.select-question {
  margin-bottom: 0px;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.logo {
  margin-right: 5px;
  padding: 0px;
}

.collection-item-3 {
  border-radius: 6px 6px 0px 0px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.text-block-2 {
  padding-left: 10px;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 1.8rem;
  }

  h3 {
    color: rgba(0, 0, 0, 0.8);
  }

  .article {
    min-width: auto;
    padding: 10px;
  }

  .section {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .grid-article-right-sidebar {
    -ms-grid-columns: 1.75fr 1fr;
    grid-template-columns: 1.75fr 1fr;
  }

  .h1 {
    padding-top: 10px;
  }

  .container-5 {
    padding-left: 10px;
  }

  .grid-8 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-4 {
    display: none;
  }

  .div-breadcromb-links {
    font-size: 0.8em;
  }

  .collection-list-6 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .section {
    padding-top: 0px;
  }

  .rich-text-db li {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .rich-text-db blockquote {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .grid-article-right-sidebar {
    -ms-grid-columns: 1.5fr;
    grid-template-columns: 1.5fr;
  }

  .div-block-4 {
    display: none;
  }

  .div-breadcromb-links {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2rem;
    line-height: 2.6rem;
  }

  h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  ul {
    padding-right: 10px;
  }

  blockquote {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .section {
    padding-top: 0px;
  }

  .rich-text-db li {
    line-height: 1.8rem;
  }

  .h1 {
    font-size: 2em;
  }

  .snippet {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .div-breadcromb-links {
    font-size: 0.7em;
    line-height: 0.7rem;
  }

  .collection-list-6 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .question {
    font-size: 1.2rem;
  }

  .collection-list-7 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .logo {
    padding: 0px;
  }
}

#w-node-_33650af0-b2b8-39f5-0f9a-b14683d0012e-3d3317f0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-edbdd00d-7a23-c961-e7f4-ba9a0238031b-3d3317f0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_54c8f0b7-ec00-2170-8627-fb6424c86cf1-24c86ce2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_54c8f0b7-ec00-2170-8627-fb6424c86cf3-24c86ce2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ecce4376-a9b1-a5e3-7167-8e5e0bfbf067-34d17fe5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ecce4376-a9b1-a5e3-7167-8e5e0bfbf06e-34d17fe5 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b3cda8b6-2985-569c-3f8f-2c8f6ba78381-7cdef102 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b3cda8b6-2985-569c-3f8f-2c8f6ba783da-7cdef102 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b3cda8b6-2985-569c-3f8f-2c8f6ba783ea-7cdef102 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b3cda8b6-2985-569c-3f8f-2c8f6ba783ec-7cdef102 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_671f9d6f-16b4-9e0b-73c1-679990f4b497-db8559f1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_671f9d6f-16b4-9e0b-73c1-679990f4b4aa-db8559f1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b35ec523-15b5-bc73-7ec3-60eeb1d0ff41-395c584c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b35ec523-15b5-bc73-7ec3-60eeb1d0ff54-395c584c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-ecce4376-a9b1-a5e3-7167-8e5e0bfbf06e-34d17fe5 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }

  #w-node-b3cda8b6-2985-569c-3f8f-2c8f6ba783da-7cdef102 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-ecce4376-a9b1-a5e3-7167-8e5e0bfbf06e-34d17fe5 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }

  #w-node-b3cda8b6-2985-569c-3f8f-2c8f6ba783da-7cdef102 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
  }
}

@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk hairline';
  src: url('../fonts/AktivGrotesk-Hairline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-HairlineItalic.ttf') format('truetype'), url('../fonts/AktivGrotesk-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Bold.ttf') format('truetype'), url('../fonts/AktivGrotesk-XBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-BoldItalic.ttf') format('truetype'), url('../fonts/AktivGrotesk-XBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aktivgrotesk';
  src: url('../fonts/AktivGrotesk-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}